<a href=<%= booking_path(booking) %>>

  <div class="card-trip">
    <div class="card-trip-infos">

      <div class="d-flex">

        <div>
          <h2> Seller: <%= current_user.first_name %></h2>
          <h2> Buyer: <%= buyer.first_name %></h2>
          <h2> Pigeon: <%= pigeon.name %></h2>
          <div>
            <p>Start date: <%= booking.start_date %></p>
            <p>End date:<%= booking.end_date %></p>
          </div>

          <div class="my-3">
            <%# Accept --> move the card to the other column %>
            <a href="#" class="btn-flat m-3"
                        data-action="click->move-booking#move"
                        data-move-booking-target="link">
              Accept
            </a>
            <%# <%= link_to "Accept", "#", class: "btn-flat", data: {
                                move_booking_target: 'link',
                                action: 'click->move_booking#move'
            }%>
            <%# Delete it from db %>
              <%= link_to "Reject",
                      booking_path(booking),
                      data: { turbo_method: :delete, turbo_confirm: 'Sure?' },
                      class: "btn-flat" %>
          </div>
        </div>

          <div class="p-3">
            <% if booking.pigeon.photo.attached? %>
              <%= cl_image_tag booking.pigeon.photo.key, height: 300, width: 400, crop: :fill, class: "card-trip-user avatar-bordered" %>
            <% end %>
          </div>

      </div>

    </div>
  </div>

</a>
