<a href=<%= booking_path(booking) %>>
  <div class="card-trip">
    <div class="card-trip-infos">
        <div>
          <h2> Seller: <%= current_user.first_name %></h2>
        </div>
        <div>
          <h2> Buyer: <%= buyer.first_name %></h2>
        </div>
        <div>
          <h2> Pigeon: <%= pigeon.name %></h2>
        </div>
        <div>
          <p>Start date: <%= booking.start_date %></p>
          <p>End date:<%= booking.end_date %></p>
        </div>
        <div>
        <%# Accept --> move the card to the other column %>
        <%= link_to "Accept", ""%>
        <%# Delete it from db %>
          <%= link_to "Reject",
                  booking_path(booking),
                  data: { turbo_method: :delete, turbo_confirm: 'Sure?' } %>
        </div>
      </div>
  </div>
</a>
