<a href= <%= bookings_path %>>
  <div class="card-trip">
    <div class="card-trip-infos">
        <div>
          <h2> Seller: <%= current_user.first_name %></h2>
        </div>
        <div>
          <h2> Buyer: <%= buyer.first_name %></h2>
        </div>
        <div>
          <h2> Pigeon: <%= pigeon.name %></h2>
        </div>
        <div>
          <p>start date: <%= booking.start_date %></p>
          <p>end date:<%= booking.end_date %></p>
        </div>
      </div>
  </div>
</a>
