<h1>Booking Info</h1>
<h3>Starting_date: <%= @booking.start_date %></h3>
<h3>ending_date: <%= @booking.end_date %></h3>
<h3>buyer: <%= @buyer.first_name%></h3>
<h3>pigeon: <%= @pigeon.name %></h3>
<h3>seller: <%=@seller.first_name %></h3>
