<a href= <%= pigeon_path(pigeon) %>>
  <div class="card-trip">
      <% if pigeon.photo.attached? %>
        <%= cl_image_tag pigeon.photo.key, height: 150, width: 300, crop: :fill %>
      <% end %>    <div class="card-trip-infos">
      <div>
        <h2> <%= pigeon.name %></h2>
        <p> <%= pigeon.color.capitalize %></p>
      </div>
      <div>
        <h2 class="card-trip-pricing">$<%= pigeon.price %></h2>
        <p>/per day</p>
      </div>
        <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
      </div>
  </div>
</a>
