
<div class="container">
  <h1>Edit <%= @pigeon.name %> the pigeon</h1>
  <div class="container">
    <%= simple_form_for(@pigeon) do |f| %>
    <%= f.input :name %>
    <%= f.input :color, collection: ['grey', 'black', 'red', 'blue'] %>
    <%= f.input :age %>
    <%= f.input :price %>
    <%= f.input :address %>
    <%= f.submit %>
    <% end %>
  </div>
</div>
