<div class="container">
  <h1>Add your pigeons</h1>

  <%= simple_form_for(@pigeon) do |f| %>
  <%= f.input :name %>
  <%= f.input :color, collection: ['grey', 'black', 'red', 'blue'] %>
  <%= f.input :age %>
  <%= f.input :price %>
  <%= f.input :city %>
  <%= f.submit %>
  <% end %>
</div>
