<div class="name">
    <h1><%= @pigeon.name %> the Pigeon</h1>
</div>

<div class="map" style="width: 100%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">
    <% if @pigeon.photo.attached? %>
      <div class='i'>
        <%= cl_image_tag @pigeon.photo.key, height: 100, width: 100, crop: :fill %>
      </div>
    <% end %>
  <div class="d-flex justify-content-between">

    <div>
      <div class="infos">
        <i class="fi fi-bs-raindrops"></i>
        <p>Color: <%= @pigeon.color %><p>
        <p>address: <%= @pigeon.address  %></p>
        <p>age: <%= @pigeon.age %></p>
        <p>description <%= @pigeon.description %></p>
      </div>

    </div>
    <div class='form'>
      <h2><%= @pigeon.price %></h2>$/per day
      <div class='d-flex'>
        <p><%= render 'bookings/form' %></p>
      </div>
    </div>

  </div>
</div>
