<div class="container">

  <h1><%= @pigeon.name %> the Pigeon</h1>

    <div class="container">
      <p>Color: <%= @pigeon.color %><p>
      <p>Price: <%= @pigeon.price  %></p>
      <p>address: <%= @pigeon.address  %></p>
      <p>age: <%= @pigeon.age  %></p>
      <% if @pigeon.photo.attached? %>
        <%= cl_image_tag @pigeon.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>


  <div>
      <div>
        <%= link_to "Book",  new_pigeon_booking_path(@pigeon), class: "btn-flat" %>
      </div>
  </div>
</div>
