<div style="margin-left:130px;">
<h4 style="margin-top:30px"><%=@count%> results for <strong style="color: brown"> "<%=params[:search][:query]%>"</strong></h4>
</div>
<div style=" display: flex;">
  <div>
    <%= render 'pigeons/pigeons_list'%>
  </div>

  <div class="sticky sticky-top"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
